Repository BKPepe/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shenek, @miska, @mprudek, @mmladek, @Cynerd, @VojtechMyslivec, @ja-pa, @BKPepe, @salzmdan, @vcunat, @mmatejek

reforis-haas-plugin: init plugin
  web/reforis/reforis-haas-plugin/Makefile
Owners: none

tos3to4: fix interface assigment for no interface
  updater/tos3to4/Makefile
  updater/tos3to4/files/switch_and_vlans
Owners: @Cynerd

updater-ng: version 68.0.0
  updater/updater-ng/Makefile
Owners: @Cynerd

updater-supervisor: version 1.4.0
  updater/updater-supervisor/Makefile
Owners: @Cynerd

updater: version 69.0.0
  updater/updater-ng/Makefile
Owners: @Cynerd

updater-drivers: add new package
  updater/updater-drivers/Makefile
  updater/updater-drivers/files/updater.lua
Owners: @Cynerd

updater: add description for most of the packages
  updater/l10n-supported/Makefile
  updater/localrepo/Makefile
  updater/pkglists/Makefile
  updater/switch-branch/Makefile
  updater/updater-drivers/Makefile
  updater/updater-ng/Makefile
  updater/updater-opkg-wrapper/Makefile
  updater/updater-supervisor/Makefile
Owners: @Cynerd

Apply 1 suggestion(s) to 1 file(s)
  hardware/nor-update/files/nor-update
Owners: @miska

Apply 1 suggestion(s) to 1 file(s)
  hardware/nor-update/files/nor-update
Owners: @miska

fixup! Apply 1 suggestion(s) to 1 file(s)
  hardware/nor-update/Makefile
  hardware/nor-update/files/nor-update
Owners: @miska

Apply 1 suggestion(s) to 1 file(s)
  hardware/nor-update/files/nor-update
Owners: @miska

Apply 1 suggestion(s) to 1 file(s)
  hardware/nor-update/files/nor-update
Owners: @miska

Apply 1 suggestion(s) to 1 file(s)
  hardware/nor-update/files/nor-update
Owners: @miska

fixup! Apply 1 suggestion(s) to 1 file(s)
  hardware/nor-update/files/mox/config.sh
  hardware/nor-update/files/nor-update
  hardware/nor-update/files/omnia/config.sh
Owners: @miska

fixup! fixup! Apply 1 suggestion(s) to 1 file(s)
  hardware/nor-update/files/nor-update
Owners: @miska

unbound: update to version 1.12.0
  net/unbound/Makefile
Owners: @ja-pa

knot-resolver: fix IP parsing in forwarding mode
  net/knot-resolver/files/kresd.init
Owners: @ja-pa

Add Github Actions
  .github/issue_template
  .github/pull_request_template
  .github/workflows/Dockerfile
  .github/workflows/ci_helpers.sh
  .github/workflows/entrypoint.sh
  .github/workflows/multi-arch-test-build.yml
Owners: none

Test CI for foris-controller-schnapps-module
  web/foris-controller/foris-controller-schnapps-module/Makefile
Owners: none

fixup! Add Github Actions
  .github/workflows/multi-arch-test-build.yml
Owners: none

test
  updater/updater-ng/Makefile
  updater/updater-ng/files/uci-defaults
  updater/updater-supervisor/Makefile
Owners: @Cynerd

updater and updater-supervisor: add PKG_MIRROR_HASH
  updater/updater-ng/Makefile
  updater/updater-supervisor/Makefile
Owners: @Cynerd

Add PKG_MIRROR_HASH
  web/foris-controller/foris-controller-schnapps-module/Makefile
Owners: none

Add Github Actions
  .github/workflows/Dockerfile
  .github/workflows/ci_helpers.sh
  .github/workflows/entrypoint.sh
  .github/workflows/multi-arch-test-build.yml
Owners: none

Add Github Actions
  .github/workflows/Dockerfile
  .github/workflows/ci_helpers.sh
  .github/workflows/entrypoint.sh
  .github/workflows/multi-arch-test-build.yml
Owners: none

treewide: add PKG_MIRROR_HASH
  net/netmetr/Makefile
Owners: none

fixup! Add Github Actions
  .github/workflows/multi-arch-test-build.yml
Owners: none

fixup! fixup! Add Github Actions
  .github/workflows/Dockerfile
  .github/workflows/multi-arch-test-build.yml
Owners: none

fixup! fixup! fixup! Add Github Actions
  .github/workflows/Dockerfile
Owners: none

fixup! fixup! fixup! fixup! Add Github Actions
  .github/workflows/multi-arch-test-build.yml
Owners: none

fixup! fixup! fixup! fixup! fixup! Add Github Actions
  .github/workflows/multi-arch-test-build.yml
Owners: none

fixup! fixup! fixup! fixup! fixup! fixup! Add Github Actions
  .github/workflows/Dockerfile
Owners: none

lighttpd: move read idle to foris/reforis configs
  net/lighttpd/files/lighttpd.conf
  web/foris/foris/files/lighttpd-dynamic-conf
  web/reforis/reforis/files/reforis-lighttpd-dynamic.sh
Owners: @miska

lighttpd: rm patches/mod-auth-ticket-for-lighttpd.patch
  net/lighttpd/patches/mod-auth-ticket-for-lighttpd.patch
Owners: @miska

lighttpd: ensure var.foris-$APP.flags begins w/ sp
  web/foris/foris/files/lighttpd-dynamic-conf
Owners: none

lighttpd: wrap foris config in single condition
  web/foris/foris/files/lighttpd-dynamic-conf
Owners: none

lighttpd: start foris FastCGI backends on demand
  web/foris/foris/files/lighttpd-dynamic-conf
  web/reforis/reforis/files/reforis-lighttpd-dynamic.sh
Owners: none

lighttpd: fix foris unix/unix-socket inconsistency
  web/foris/foris/files/lighttpd-dynamic-conf
Owners: none

lighttpd: lighttpd 1.4.56 upstream release
  net/lighttpd/Makefile
Owners: @miska

lighttpd: lighttpd 1.4.57 upstream release
  net/lighttpd/Makefile
Owners: @miska

.github/CODEOWNERS:

# CZ.NIC folder
cznic/foris/ @shenek
cznic/fosquitto/ @shenek
cznic/mozilla-iot-gateway-webapp/ @miska
cznic/nikola/ @shenek
cznic/oneshot/ @miska
cznic/netmetr/ @shenek @mprudek
cznic/ssbackups/ @shenek @mmladek
cznic/turris-diagnostics/ @Cynerd
cznic/turris-translations/ @shenek
cznic/server-uplink/ @shenek
cznic/turrishw/ @shenek
cznic/switch-branch/ @Cynerd
cznic/turris-webapps/ @miska
cznic/turris-netboot/ @miska
cznic/haas-proxy/ @miska

#  Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec

# Lang
lang/ @Cynerd

# Libs
libs/ @ja-pa @Cynerd

# Multimedia
multimedia/ @BKPepe

# Net
net/knot/ @salzmdan
net/knot-resolver/ @ja-pa
net/unbound/ @ja-pa
net/tor/ @ja-pa
net/torsocks/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @miska
net/lighttpd-https-cert/ @miska
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/lighttpd/ @miska
net/nextcloud/ @miska
net/rmbt/ @mprudek

# Pakon related stuff
cznic/pakon/ @mmatejek
cznic/pakon-dev-detect/ @mmatejek
cznic/pakon-lists/ @mmatejek

# Updater
updater/ @Cynerd

# Utils
utils/ @miska @ja-pa @Cynerd
