Repository BKPepe/turris-os-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shenek, @miska, @VojtechMyslivec, @Cynerd, @ja-pa, @BKPepe, @salzmdan, @mprudek, @vcunat, @mmatejek

lighttpd: remove mod_auth_ticket
  net/lighttpd/Makefile
Owners: @miska

lighttpd: add patch for meson.lua
  net/lighttpd/patches/010-meson-lua.patch
Owners: @miska

lighttpd: module compress was replaced by deflate
  net/lighttpd/Makefile
Owners: @miska

lighttpd: switch to meson
  net/lighttpd/Makefile
  net/lighttpd/patches/0001-meson.patch
Owners: @miska

fixup! lighttpd: switch to meson
  net/lighttpd/Makefile
Owners: @miska

fixup! fixup! lighttpd: switch to meson
  net/lighttpd/patches/0001-meson.patch
Owners: @miska

lighttpd: update to 1.4.58
  net/lighttpd/Makefile
Owners: @miska

Add Github Actions
  .github/workflows/Dockerfile
  .github/workflows/ci_helpers.sh
  .github/workflows/entrypoint.sh
  .github/workflows/multi-arch-test-build.yml
Owners: none

lighttpd: wrap foris config in single condition
  web/foris/foris/files/lighttpd-dynamic-conf
Owners: @miska, @shenek, @Cynerd

lighttpd: fix foris unix/unix-socket inconsistency
  web/foris/foris/files/lighttpd-dynamic-conf
Owners: @miska, @shenek, @Cynerd

lighttpd: lighttpd 1.4.57 upstream release
  net/lighttpd/Makefile
Owners: @miska

lighttpd: switch to meson
  net/lighttpd/Makefile
  net/lighttpd/patches/0001-meson.patch
Owners: @miska

lighttpd: update to 1.4.58
  net/lighttpd/Makefile
Owners: @miska

Github Actions: OpenWrt master and OpenWrt 19.07
  .github/workflows/multi-arch-test-build.yml
Owners: none

lighttpd: add patch for meson.lua
  net/lighttpd/patches/010-meson-lua.patch
Owners: @miska

fixup! fixup! lighttpd: switch to meson
  net/lighttpd/patches/0001-meson.patch
Owners: @miska

fixup! lighttpd: switch to meson
  net/lighttpd/Makefile
Owners: @miska

lighttpd: lighttpd 1.4.56 upstream release
  net/lighttpd/Makefile
Owners: @miska

lighttpd: module compress was replaced by deflate
  net/lighttpd/Makefile
Owners: @miska

lighttpd: ensure var.foris-$APP.flags begins w/ sp
  web/foris/foris/files/lighttpd-dynamic-conf
Owners: @miska, @shenek, @Cynerd

fixup! Github Actions: OpenWrt master and OpenWrt 19.07
  .github/workflows/multi-arch-test-build.yml
Owners: none

Github Actions: fix array in aarch64_cortex-a53
  .github/workflows/multi-arch-test-build.yml
Owners: none

Github Actions: replace notification system by sentinel-proxy
  .github/workflows/multi-arch-test-build.yml
Owners: none

.github/CODEOWNERS:

# CZ.NIC folder
cznic/foris/ @shenek
cznic/fosquitto/ @shenek
cznic/mozilla-iot-gateway-webapp/ @miska
cznic/turrishw/ @shenek
cznic/turris-netboot/ @miska

#  Hardware
hardware/ @miska
hardware/crypto-wrapper/ @VojtechMyslivec
hardware/mox/mox-otp/ @VojtechMyslivec

# Lang
lang/ @Cynerd

# Libs
libs/ @ja-pa @Cynerd

# Multimedia
multimedia/ @BKPepe

# Net
net/knot/ @salzmdan
net/knot-resolver/ @ja-pa
net/unbound/ @ja-pa
net/tor/ @ja-pa
net/torsocks/ @ja-pa
net/resolver-conf/ @ja-pa
net/resolver-debug/ @ja-pa
net/lighttpd/ @miska
net/lighttpd-https-cert/ @miska
net/netmetr/ @shenek @mprudek
net/nextcloud/ @miska
net/dnssec-rootkey/ @ja-pa @vcunat
net/lighttpd/ @miska
net/nextcloud/ @miska
net/rmbt/ @mprudek

# Pakon related stuff
cznic/pakon/ @mmatejek
cznic/pakon-dev-detect/ @mmatejek
cznic/pakon-lists/ @mmatejek

# Updater
updater/ @Cynerd

# Data collection
collect/ @miska

# Utils
utils/ @miska @ja-pa @Cynerd

# Web related packages
web/ @miska @shenek @Cynerd
